// le fancy new grid
[class*="grid-"] {
  display: grid;
  &.start {
    align-items: start;
  }
  &.end {
    align-items: end;
  }
}

@for $n from 2 through 16 {
  .grid-#{$n} {
    grid-template-columns: repeat($n, 1fr);
  }
}

@for $n from 0 through 16 {
  .gap-#{$n} {
    gap: $n * $margin;
  }
  .gap-h-#{$n} {
    column-gap: $n * $margin;
  }
  .gap-v-#{$n} {
    row-gap: $n * $margin;
  }
}

@for $n from 0 through 16 {
  .gap-#{$n} {
    gap: $n * $margin;
  }
}
