@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
@import '@abw/react-night-and-day/styles/night-and-day.css';

$dark-theme: '#site.dark, .dark';
$brand-hue:    206;
$brand-color:  'blue';
// $brand-hue:    165;
// $brand-color:  'teal';
$brand-colors: (
  brand:   $brand-color,
  hover:   'teal',
);

// @import '@abw/badger-css/styles/badger.scss';
@import "../../styles/formula.scss";
@import "config/all.scss";
@import "modules/all.scss";

.alert {
  --code-back: var(--color-85);
  --code-border: var(--color-80);
  --code-text: var(--color-20);
  --icon-fore: var(--color-90);
  --icon-back: var(--color-60);
  --inner-ring: var(--color-80);
  --outer-ring: var(--color-70);
  a:has(code) {
    text-decoration: none !important;
  }
  .side-icon {
    font-size: 2rem;
    margin: 1rem 2rem 1rem 1rem;
    background-color: var(--icon-fore);
    color: var(--icon-back);
    box-shadow:
      0 0 0 5px var(--inner-ring),
      0 0 0 10px var(--outer-ring);
    border-radius: 50%;
  }
}

.flex.wrap {
  flex-wrap: wrap;
}

ul.li-space li {
  margin-bottom: 1rem;
}

// @import 'config/all.scss';
// @import '@abw/badger-css/styles/badger.scss';
// @import 'utils/all.scss';
// @import 'modules/all.scss';
/*
.note {
  color: var(--note-text);
  background-color: var(--note-back);
  border: 1px solid var(--note-border);
  border-left-width: 8px;
  border-radius: $radius;
  padding: 1em;
  box-shadow: $shadows;
}
.XXwarning {
  text-align: center;
  background-color: hsl($red-hue, 80%, 90%);
  border: 3px solid hsl($red-hue, 90%, 45%);
  color: hsl($red-hue, 80%, 20%);
  border-radius: 12px;
  padding: 1rem 2rem;
  box-shadow: $shadows;
  h3 {
    margin: 0;
    color: hsl($red-hue, 90%, 40%);
  }
}

.variable {
  padding-left: 1rem;
  h4 {
    margin-bottom: 0;
    .var {
      display: inline-block;
      // min-width: 28ch;
      margin-right: 0.5rem;
    }
    .val {
      display: inline-block;
      // margin-top: 0.25rem;
      margin-left: 0.5rem;
      font-weight: normal;
      code {
        color: var(--code-defn-fg) !important;
        background-color: var(--code-defn-bg) !important;
        border-color: var(--code-defn-bd) !important;
      }
    }
  }
  .description {
    margin-left: 2rem;
  }
}

.caption {
  padding: 1rem 0;
  font-size: 0.8rem;
  text-align: center;
}

input + button {
  margin-left: 0.5rem;
}
textarea {
  font-family: inherit;
}
div.example {
  margin-bottom: 2rem;
}

form.formula div.field label.option {
  &.red {
    background-color: red;
    color: white;
  }
  &.red input[type=radio] {
    accent-color: red;
  }
  &.orange {
    background-color: orange;
    color: black;
  }
  &.orange input[type=radio] {
    accent-color: orange;
  }
  &.yellow {
    background-color: gold;
    color: black;
  }
  &.yellow input[type=radio] {
    accent-color: gold;
  }
  &.green {
    background-color: green;
    color: white;
  }
  &.green input[type=radio] {
    accent-color: green;
  }
  &.blue {
    background-color: blue;
    color: white;
  }
  &.blue input[type=radio] {
    accent-color: blue;
  }
  &.indigo {
    background-color: indigo;
    color: white;
  }
  &.indigo input[type=radio] {
    accent-color: indigo;
  }
  &.violet {
    background-color: violet;
    color: white;
  }
  &.violet input[type=radio] {
    accent-color: violet;
  }
}

form.debug {
  border: 1px solid grey;
  padding: 1rem;
}
form.debug.validating {
  border: 1px solid blue;
}
form.debug.valid {
  border: 1px solid green;
}
form.debug.invalid {
  border: 1px solid red;
}
*/
/*
form.formula {
  button.btn-red {
    background-color: hsl($red-hue, 60%, 50%);
    border-color: hsl($red-hue, 50%, 45%);
    color: #fff;
    &:focus {
      outline: none;
      box-shadow:
        0 0 0 $focus-ring-gap hsl($red-hue, 20%, 90%),
        0 0 0 $focus-ring-width hsl($red-hue, 50%, 70%);
    }
  }
  button.btn-green {
    background-color: hsl($green-hue, 50%, 40%);
    border-color: hsl($green-hue, 55%, 35%);
    color: #fff;
    &:focus {
      outline: none;
      box-shadow:
        0 0 0 $focus-ring-gap hsl($green-hue, 20%, 90%),
        0 0 0 $focus-ring-width hsl($green-hue, 50%, 70%);
    }
  }
  button.btn-blue {
    background-color: hsl($blue-hue, 60%, 50%);
    border-color: hsl($blue-hue, 65%, 45%);
    color: #fff;
    &:focus {
      outline: none;
      box-shadow:
        0 0 0 $focus-ring-gap hsl($blue-hue, 20%, 90%),
        0 0 0 $focus-ring-width hsl($blue-hue, 50%, 70%);
    }
  }
  button.btn-brown {
    background-color: hsl($brown-hue, 60%, 30%);
    border-color: hsl($brown-hue, 65%, 25%);
    color: #fff;
    &:focus {
      outline: none;
      box-shadow:
        0 0 0 $focus-ring-gap hsl($brown-hue, 20%, 90%),
        0 0 0 $focus-ring-width hsl($brown-hue, 50%, 70%);
    }
  }
  button.btn-lilac {
    background-color: hsl($lilac-hue, 60%, 80%);
    border-color: hsl($lilac-hue, 65%, 75%);
    color: hsl($lilac-hue, 50%, 50%);
    &:focus {
      outline: none;
      box-shadow:
        0 0 0 $focus-ring-gap hsl($lilac-hue, 10%, 90%),
        0 0 0 $focus-ring-width hsl($lilac-hue, 20%, 80%);
    }
  }
}

form.formula {
  &.panel {
    background-color: rgba(255,255,255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem 1rem 0 1rem;
  }
  &.center {
    margin: 0 auto;
  }
  &.ch48 {
    width: 48ch;
  }
}
*/
/*
.boxed {
  border: 1px solid hsl($dev-hue, 30%, 80%);
  background-color: hsl($dev-hue, 10%, 90%);
  padding: 1rem;
}

.formula {
  h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    font-weight: normal;
  }
  .forgot {
    display: block;
    margin-top: -0.5rem;
  }
}

@media (min-width: 1024px) {
  .lg-grid-2 {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .lg-grid-3 {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .lg-label-on-left {
    display: grid !important;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
  }
  div.field .lg-label-on-left label {
    font-size: 1em;
    line-height: 1;
    padding: 0.5em;
    text-align: right;
  }
}

ul.credits {
  font-size: $size-smallish;
  li {
    margin: 0;
  }
}
*/