$header-height: 42px;
$sidebar-width: 320px;
$sidebar-padding: 1rem;
$theme-transition: 0.5s;

:where(html) {
  --body-text:            var(--grey-20);
  // --bold-text:            var(--color-20);
  --head-text:            var(--grey-20);
  --link-text:            var(--brand-40);
  --link-hover:           var(--hover-50);
  // header
  --header-back:          var(--grey40-35);
  --header-text:          var(--grey40-90);
  --header-link:          var(--brand-75);
  --header-hover:         var(--brand-100);
  --header-border:        var(--grey20-60);
  // footer
  --footer-back:          var(--grey40-75);
  --footer-text:          var(--grey40-40);
  --footer-border:        var(--grey40-65);
  // app
  --app-back:             var(--grey-80);
  --main-back:            var(--grey-90);
  --side-back:            var(--grey-85);
  --side-border:          var(--grey-60);
  // --side-border:          var(--grey-70);
  --side-shadow:        rgba(0, 0, 0, 0.04);
  --top-shadow:         rgba(0, 0, 0, 0.08);
  // menu
  --menu-back:            var(--side-back);
  --menu-text:            var(--grey20-40);
  --menu-head:            var(--brand-20);
  --menu-hover-back:      var(--grey20-85);
  --menu-hover-text:      var(--brand-10);
  --menu-active-text:     var(--brand-0);
  --menu-active-back:     var(--grey20-90);
  // table of contents
  --toc-back:             var(--brand-90);
  --toc-border:           var(--brand-80);
  --toc-head:             var(--brand-10);
  --toc-head2:            var(--brand-30);
  --toc-about:            var(--brand-40);

  // layout
  --flow-space: 1em
}
#{$dark-theme} {
  // body
  --body-text:          var(--color-60);
  // --bold-text:          var(--grey-70);
  --head-text:          var(--grey-80);
  --link-text:          var(--brand-50);
  --link-hover:         var(--hover-60);
  // header
  --header-back:        var(--brand-25);
  --header-text:        var(--brand-80);
  --header-link:        var(--brand-85);
  --header-hover:       var(--brand-100);
  --header-border:      var(--brand-10);

  // footer
  --footer-back:        var(--grey40-15);
  --footer-text:        var(--grey20-50);
  --footer-border:      black;
  // app
  --app-back:           var(--grey-0);
  --main-back:          var(--grey-15);
  --side-back:          var(--grey-10);
  --side-border:        var(--grey-30);
  // --side-border:        var(--grey-20);
  --side-shadow:      rgba(0, 0, 0, 0.2);
  --top-shadow:       rgba(0, 0, 0, 0.15);
  // menu
  --menu-back:          var(--side-back);
  --menu-text:          var(--grey20-80);
  --menu-head:          var(--brand-100);
  --menu-hover-text:    var(--brand-90);
  --menu-hover-back:    var(--grey20-20);
  --menu-active-text:   var(--brand-100);
  --menu-active-back:   var(--grey20-30);
  // table of contents
  --toc-back:             var(--brand-10);
  --toc-border:           var(--brand-0);
  --toc-head:             var(--brand-80);
  --toc-head2:            var(--brand-70);
  --toc-about:            var(--brand-70);
  --logo-color:           var(--grey20-70);

}
