button {
  border: 0;
  border-radius: 4px;
  padding: $button-padding-vertical $button-padding-horizontal;
  font-size: 1em;
  line-height: 1;
  font-weight: 500;
  font-family: inherit;
  color: $button-text-color;
  background-color: $button-back-color;
  border: $button-border-width solid $button-border-color;
  transition: border-color 0.25s;
  margin-bottom: $field-margin;
  // max-height: calc(1em + ($button-padding-vertical * 2) + ($button-border-width * 2));
  cursor: pointer;
  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow:
      0 0 0 $button-ring-gap $button-gap-color,
      0 0 0 $button-ring-width $button-ring-color;
  }
  & + button {
    margin-left: 0.5rem;
  }
  &[type=reset], &.cancel {
    color: $reset-text-color;
    border-color: $reset-border-color;
    background-color: $reset-back-color;
    &:focus,
    &:focus-visible {
      box-shadow:
        0 0 0 $button-ring-gap $reset-gap-color,
        0 0 0 $button-ring-width $reset-ring-color;
    }
  }
  &[type=submit] {
    color: $submit-text-color;
    border-color: $submit-border-color;
    background-color: $submit-back-color;
  }
}