.#{$formula-namespace} div.debug {
  border: 1px solid var(--debug-border-color);
  background-color: var(--debug-back-color);
  box-shadow: var(--debug-box-shadow);
  border-radius: var(--debug-border-radius);
  margin-top: 2rem;
  .panel {
    position: relative;
    border: 1px solid var(--debug-border-color);
    border-radius: var(--debug-panel-border-radius);
    background-color: var(--debug-panel-back-color);
    box-shadow: var(--debug-panel-box-shadow);
    margin: var(--debug-panel-margin);
    padding: var(--debug-panel-padding);
    h4 {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0.25em 0.75em;
      font-size: 0.8rem;
      line-height: 1;
      text-align: right;
      color: var(--debug-panel-title-color);
      background-color: var(--debug-panel-border-color);
      border-bottom-left-radius: var(--debug-panel-border-radius);
    }
    pre {
      margin: 0;
    }
  }
}
