.formula .errors {
  color: $error-text-color;
  background-color: $error-back-color;
  border: 1px solid $error-border-color;
  border-width: $error-border-width;
  border-radius: $error-border-radius;
  padding: $error-padding-vertical $error-padding-horizontal;
  margin: $error-margin;
  box-shadow: $error-box-shadow;
  h3 {
    // background-color: rgba($error-title-color, 0.5);
    // background-color: rgba($error-border-color, 0.9);
    font-weight: $error-title-weight;
    font-size: $error-title-size;
    line-height: 1;
    background-color: $error-border-color;
    margin: -#{$error-padding-vertical} -#{$error-padding-horizontal} $error-padding-vertical -#{$error-padding-horizontal};
    padding: #{$error-title-padding};
    border-radius: $error-title-radius $error-title-radius 0 0;
    color: $error-title-color;
  }
  p {
    margin-top: 0;
  }
  ul {
    margin-bottom: 0;
    li {
      margin: 0.5em 0;
      b {
        color: $error-label-color;
      }
    }
  }
}