form.formula {
  div.field {
    position: relative;
    margin-bottom: $field-margin;
    width: auto;
    width: 100%;
    transition: 0.3s all;

    label {
      transition: 0.3s all;
      &:not(.option) {
        display: block;
        font-size: 0.8em;
        margin-right: 0.5em;
        // margin-right: $option-margin;
        white-space: nowrap;
        color: $label-color;
      }
      &.option {
        white-space: nowrap;
        .label {
          padding-left: 0.25em;
          padding-right: 0.5em;
        }
      }
      .required,
      .optional {
        float: right;
        font-size: 0.8em;
        line-height: 1.2;
        padding: 0 0.5em;
        margin-right: -0.5em;
        border-radius: 0.25em;
      }
      .required {
        color: $required-label-color;
        background-color: $required-back-color;
        border: 1px solid $required-border-color;
      }
      .optional {
        color: $optional-label-color;
        background-color: $optional-back-color;
        border: 1px solid $optional-border-color;
      }
    }
    .inputs {
      display: flex;
      &.radio {
        flex-wrap: wrap;
      }
      input,
      textarea,
      select {
        transition: 0.3s all;
        font-size: 1em;
        font-weight: normal;
        font-style: normal;
        line-height: 1;
        padding: 0.25em 0.5em;
        border-radius: 4px;
        outline: none !important;
        flex-basis: 100%;
        min-width: 0;
        color: $input-text-color;
        border: 1px solid $input-border-color;
        background-color: $input-back-color;
        &::placeholder {
          color: $input-placeholder-color;
          font-weight: 300;
        }
      }
      textarea {
        /* font-size: 1em; */
        line-height: 1.25;
      }
      select {
        font-size: 1em;
        line-height: 1;
        display: inline-block;
        width: auto;
        vertical-align: middle;
        /* height: calc(1.5em + 2px); */
      }
      &.prefixed input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      &.suffixed input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      .prefix,
      .suffix {
        font-size: 1em;
        line-height: 1;
        padding: 0.25em 0.5em;
        border-radius: 4px;
        border: 1px solid $input-border-color;
        background-color: $input-prefix-back-color;
        color: $input-prefix-text-color;
        user-select: none;
      }
      .prefix {
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      .suffix {
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      .option {
        font-size: 1em;
        line-height: 1;
        padding: 0.25em;
        border-radius: 4px;
        color: $input-text-color;
        border: 1px solid $input-border-color;
        background-color: $input-back-color;
        cursor: pointer;
        &:hover {
          background-color: $focus-back-color;
          border-color: $focus-border-color;
          color: $focus-text-color;
        }
      }
      &.radio {
        display: flex;
        gap: $option-margin;
        &.block {
          display: block;
          gap: 0.5rem;
          label {
            display: block;
            margin-bottom: $option-margin;
          }
        }
      }
      input[type=checkbox],
      input[type=radio],
      input[type=range] {
        accent-color: $accent-color;
      }
      input[type=color] {
        padding: 0;
      }
    }
    .help {
      transition: 0.3s all;
      display: block;
      font-size: 0.8em;
      margin-right: 0.5em;
      white-space: nowrap;
      color: $label-color;
    }
    &.thin {
      .inputs {
        input,
        textarea,
        select {
          flex-basis: auto;
        }
      }
      .radio label.option,
      .checkbox label.option {
        width: 100%;
      }
    }
    &.wide {
      .inputs {
        input,
        textarea,
        select {
          flex-basis: 100%;
        }
      }
      .radio label.option,
      .checkbox label.option {
        width: 100%;
      }
    }
    &.bare {
      .inputs .option {
        border: none;
        background-color: transparent;
        padding-left: 0;
        &:hover {
          background-color: transparent;
          color: $focus-text-color;
        }
      }
    }
    &.valid {
      label:not(.option) {
        color: $valid-label-color;
      }
      .inputs {
        input,
        textarea,
        select {
          background-color: $valid-back-color;
          border-color: $valid-border-color;
          color: $valid-text-color;
          &::placeholder {
            color: $valid-placeholder-color;
            font-weight: 300;
          }
        }
        .prefix,
        .suffix {
          border-color: $valid-border-color;
          background-color: $valid-prefix-back-color;
          color: $valid-prefix-text-color;
        }
      }
      .help {
        color: $valid-message-color;
        &::before {
          content: '✔︎ ';
        }
      }
    }
    &.invalid {
      label:not(.option) {
        color: $invalid-label-color;
      }
      .inputs {
        input,
        textarea,
        select {
          background-color: $invalid-back-color;
          border-color: $invalid-border-color;
          color: $invalid-text-color;
          &::placeholder {
            color: $invalid-placeholder-color;
            font-weight: 300;
          }
        }
        .prefix,
        .suffix {
          border-color: $invalid-border-color;
          background-color: $invalid-prefix-back-color;
          color: $invalid-prefix-text-color;
        }
      }
      .help {
        color: $invalid-message-color;
        &::before {
          content: '✘ ';
        }
      }
    }
    &.focus {
      label:not(.option) {
        color: $focus-label-color;
      }
      .inputs {
        input,
        textarea,
        select {
          background-color: $focus-back-color;
          border-color: $focus-border-color;
          color: $focus-text-color;
          &::placeholder {
            color: $focus-placeholder-color;
            font-weight: 300;
          }
        }
        .prefix,
        .suffix {
          border-color: $focus-border-color;
          background-color: $focus-prefix-back-color;
          color: $focus-prefix-text-color;
        }
      }
    }
    &.disabled {
      cursor: not-allowed;
      label:not(.option) {
        color: $disabled-label-color;
      }
      .inputs {
        input,
        textarea,
        select {
          background-color: $disabled-back-color;
          border-color: $disabled-border-color;
          color: $disabled-text-color;
          &::placeholder {
            color: $disabled-placeholder-color;
          }
        }
        .prefix,
        .suffix {
          border-color: $disabled-border-color;
          background-color: $disabled-prefix-back-color;
          color: $disabled-prefix-text-color;
        }
      }
      .help {
        color: $disabled-message-color;
        &::before {
          content: '✘ ';
        }
      }
    }
  }
}
