.flex {
  display: flex;
  &.row {
    flex-direction: row;
  }
  &.column {
    flex-direction: column;
  }
  &.center {
    align-items: center !important;
  }
  &.stretch {
    align-items: stretch;
  }
  &.start {
    align-items: flex-start;
  }
  &.end {
    align-items: flex-end;
  }
  &.baseline {
    align-items: baseline;
  }
  &.space {
    justify-content: space-between;
  }
}