.mar-b-none {
  margin-bottom: none;
}
@for $n from 2 through 16 {
  .mar-#{$n} {
    margin: $n * $unit-margin;
  }
  .mar-b-#{$n} {
    margin-bottom: $n * $unit-margin;
  }
  .mar-t-#{$n} {
    margin-top: $n * $unit-margin;
  }
}
