@include field {
  position: relative;
  width: 100%;
  margin-bottom: var(--field-margin);
  transition: 0.3s all;
  &#{$fluid} {
    #{$input} {
      width: min-content;
    }
  }
  &#{$inline} {
    display: inline-block;
    width: min-content;
    #{$input}#{$radio} {
      flex-wrap: unset;
    }
  }
  &#{$wide} {
    width: 100%;
  }
  &.bare {
    #{$input} #{$option} {
      border: none;
      background-color: transparent;
      &:hover {
        background-color: transparent;
        color: var(--focus-fg);
      }
    }
  }
}
