@include field {
  position: relative;
  width: 100%;
  margin-bottom: var(--field-margin);
  transition: 0.3s all;

  &#{$thin} {
    #{$input} {
      display: inline-flex;
      input,
      textarea,
      select {
        flex-basis: auto;
      }
    }
    #{$radio} label#{$option},
    #{$checkbox} label#{$option} {
      width: 100%;
    }
  }

  &#{$wide} {
    #{$input} {
      input,
      textarea,
      select {
        flex-basis: 100%;
      }
    }
    #{$radio} label#{$option},
    #{$checkbox} label#{$option} {
      width: 100%;
      input {
        flex-basis: auto;
      }
      span#{$text} {
        flex-basis: 100%;
      }
    }
  }
  &.bare {
    #{$input} #{$option} {
      border: none;
      background-color: transparent;
      &:hover {
        background-color: transparent;
        color: var(--focus-fg);
      }
    }
  }
}
