@include formula {
  .mar-b-none {
    margin-bottom: none;
  }
  .mar-l-option {
    margin-left: var(--option-margin);
  }
  .mar-r-option {
    margin-right: var(--option-margin);
  }
  .mar-t-label {
    margin-top: calc(var(--label-size) + var(--label-margin));
  }
  .pad-t-label {
    padding-top: calc(var(--label-size) + var(--label-margin));
  }
}