.wide-border .formula {
  --input-border-width: 2px;
  --focus-ring-width:   4px;
  --focus-ring-gap:     1px;
  --focus-ring-opacity: 0.4;
}
.branded-red .formula {
  --brand-hue: 0;
}
.branded-orange .formula {
  --brand-hue: 30;
}
.branded-yellow .formula {
  --brand-hue: 60;
}
.branded-green .formula {
  --brand-hue: 120;
}
.branded-teal .formula {
  --brand-hue: 160;
}
.branded-blue .formula {
  --brand-hue: 190;
}
.branded-indigo .formula {
  --brand-hue: 240;
}
.branded-violet .formula {
  --brand-hue: 280;
}
.branded-maroon .formula {
  --brand-hue: 320;
}