@import 'config/formula.scss';
@import 'config/fonts.scss';
@import 'utils/spacing.scss';

// $dev-hue: 220;
$dev-hue: 193;
$hover-hue: 30;
$note-hue: 210;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: hsl($dev-hue, 30%, 90%);
}
h1, h2, h3 {
  color: hsl($dev-hue, 80%, 20%);
}
h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  &:first-child {
    margin-top: -0.5rem !important;
  }
}
h2 {
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}
h3 {
  font-size: 1.25rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
p.intro {
  font-size: 1.25em;
}
p.subintro {
  font-size: 1.25em;
}
a {
  font-weight: 500;
  color: hsl($dev-hue, 60%, 30%);
  text-decoration: inherit;
  transition: 250ms all;
  &:hover {
    color: hsl($hover-hue, 90%, 15%);
  }
  &.active {
    color: hsl($dev-hue, 90%, 10%);
  }
}



.pic-side {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 2rem;
  img {
    margin-top: 1rem;
  }
  & > div.blurb {
    padding-right: 2rem;
  }
}
.badger {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  img {
    width: 100px;
  }
  .caption {
    padding: 0.5rem 0;
  }
}

#layout {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 0;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  aside {
    flex-basis: 20rem;
    flex-grow: 1;
    margin-right: 1rem;
    padding: 1rem;
    background-color: rgba(#fff, 0.4);
    max-height: calc(100vh - 2rem);
    overflow-y: scroll;
    h4 {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
    div.menu {
      margin: 0 -1rem 0.25rem;
    }
    .menu-head {
      background-color: rgba(#fff, 0.8);
      &:hover {
        background-color: #fff;
      }
      margin: 0 0 0.25rem 0;
      padding: 0.25rem 0.5rem;
      a {
        flex-basis: 100%;
        h4 {
          line-height: 1.5;
          margin: 0;
        }
        svg.icon {
          margin: 0 0.25rem 0 -0.25rem;
        }
        &.active {
          color: hsl($dev-hue, 100%, 20%);
        }
      }
      .icon {
        transition: all 300ms;
        // color: hsl($dev-hue, 100%, 30%);
      }
    }
    ul.menu {
      padding: 0;
      margin: 0 0 0 1rem;
      list-style: none;
      li {
        margin: 0;
        // margin: 0 -0.5rem 0 -0.5rem;
        padding: 0;
        a {
          display: block;
          background-color: rgba(#fff, 0.3);
          padding: 0.25rem 0.5rem;
          margin-bottom: 0.25rem;
          &:hover {
            background-color: rgba(#fff, 0.6);
          }
          &.active {
            background-color: rgba(#fff, 0.9);
          }
        }
      }
    }
  }
  main {
    position: relative;
    flex-basis: 0;
    flex-grow: 999;
    padding: 2rem;
    padding-bottom: 200px;
    background-color: rgba(#fff, 0.7);
    max-height: calc(100vh - 2rem);
    overflow-y: scroll;
    h1:first-child {
      line-height: 1;
      margin: 0 0 0.5em 0;
    }
  }
}
a.github {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
}

ul.menu ul.menu {
  font-size: 0.9em;
}

ul.menu.large {
  font-size: 1.25rem;
}

li {
  margin-bottom: 1rem;
}

code:not(.codeblock code) {
  background-color: hsl($dev-hue, 30%, 95%);
  border: 1px solid hsl($dev-hue, 40%, 90%);
  color: hsl($dev-hue, 90%, 25%);
  padding: 0 3px;
  border-radius: 2px;
}
a code:not(.codeblock code) {
  background-color: hsl($dev-hue, 40%, 90%);
  border: 1px solid hsl($dev-hue, 50%, 80%);
  border-bottom-color: hsl($dev-hue, 80%, 50%);
  color: hsl($dev-hue, 90%, 15%);
}
a:hover code:not(.codeblock code) {
  background-color: hsl($hover-hue, 40%, 90%);
  border: 1px solid hsl($hover-hue, 50%, 80%);
  border-bottom-color: hsl($hover-hue, 80%, 50%);
  color: hsl($hover-hue, 90%, 15%);
}

table.sass-vars {
  thead {
    tr th {
      text-align: left;
      padding: 0.25rem 0.5rem;
      background-color: hsl($dev-hue, 30%, 90%);
    }
  }
  tbody {
    tr td {
      text-align: left;
      padding: 0.25rem 0.5rem;
      background-color: rgba(#fff, 0.8);
      vertical-align: top;
      &.name,
      &.default {
        white-space: nowrap;
        color: hsl($dev-hue, 80%, 20%);
        font-weight: bold;
        font-family: $monospace;
        font-size: 0.8rem;
      }
    }
    th.section {
      // background-color: hsl($dev-hue, 80%, 90%);
      background-color: hsl($dev-hue, 50%, 40%);
      color: hsl($dev-hue, 80%, 90%);
      font-size: 0.8em;
      font-weight: normal;
    }
  }
}

.bold {
  font-weight: bold;
}
.note {
  background-color: hsl($note-hue, 80%, 90%);
  border: 3px solid hsl($note-hue, 90%, 45%);
  border-radius: 12px;
  color: hsl($note-hue, 80%, 20%);
  padding: 1em;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.05);
}
.caption {
  padding: 1rem 0;
  font-size: 0.8rem;
  text-align: center;
}

input + button {
  margin-left: 0.5rem;
}
textarea {
  font-family: inherit;
}
div.example {
  margin-bottom: 2rem;
}
div.codeblock {
  position: relative;
  padding: 0;
  pre {
    margin: 0 !important;
  }
  h4.caption {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    margin: 0;
    padding: 0;
    text-align: right;
    color: white;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

form.formula div.field label.option {
  &.red {
    background-color: red;
    color: white;
  }
  &.red input[type=radio] {
    accent-color: red;
  }
  &.orange {
    background-color: orange;
    color: black;
  }
  &.orange input[type=radio] {
    accent-color: orange;
  }
  &.yellow {
    background-color: gold;
    color: black;
  }
  &.yellow input[type=radio] {
    accent-color: gold;
  }
  &.green {
    background-color: green;
    color: white;
  }
  &.green input[type=radio] {
    accent-color: green;
  }
  &.blue {
    background-color: blue;
    color: white;
  }
  &.blue input[type=radio] {
    accent-color: blue;
  }
  &.indigo {
    background-color: indigo;
    color: white;
  }
  &.indigo input[type=radio] {
    accent-color: indigo;
  }
  &.violet {
    background-color: violet;
    color: white;
  }
  &.violet input[type=radio] {
    accent-color: violet;
  }
}

form.debug {
  border: 1px solid grey;
  padding: 1rem;
}
form.debug.validating {
  border: 1px solid blue;
}
form.debug.valid {
  border: 1px solid green;
}
form.debug.invalid {
  border: 1px solid red;
}
$green-hue: 120;
$blue-hue: 210;
$brown-hue: 30;
$lilac-hue: 240;

form.formula {
  button.btn-green {
    background-color: hsl($green-hue, 50%, 40%);
    border-color: hsl($green-hue, 55%, 35%);
    color: #fff;
    &:focus {
      outline: none;
      box-shadow:
        0 0 0 $button-ring-gap hsl($green-hue, 20%, 90%),
        0 0 0 $button-ring-width hsl($green-hue, 50%, 70%);
    }
  }
  button.btn-blue {
    background-color: hsl($blue-hue, 60%, 50%);
    border-color: hsl($blue-hue, 65%, 45%);
    color: #fff;
    &:focus {
      outline: none;
      box-shadow:
        0 0 0 $button-ring-gap hsl($blue-hue, 20%, 90%),
        0 0 0 $button-ring-width hsl($blue-hue, 50%, 70%);
    }
  }
  button.btn-brown {
    background-color: hsl($brown-hue, 60%, 30%);
    border-color: hsl($brown-hue, 65%, 25%);
    color: #fff;
    &:focus {
      outline: none;
      box-shadow:
        0 0 0 $button-ring-gap hsl($brown-hue, 20%, 90%),
        0 0 0 $button-ring-width hsl($brown-hue, 50%, 70%);
    }
  }
  button.btn-lilac {
    background-color: hsl($lilac-hue, 60%, 80%);
    border-color: hsl($lilac-hue, 65%, 75%);
    color: hsl($lilac-hue, 50%, 50%);
    &:focus {
      outline: none;
      box-shadow:
        0 0 0 $button-ring-gap hsl($lilac-hue, 10%, 90%),
        0 0 0 $button-ring-width hsl($lilac-hue, 20%, 80%);
    }
  }
}
