@import 'config/units.scss';
@import 'utils/all.scss';
@import 'website/config.scss';
@import 'website/typography.scss';
@import 'website/layout.scss';
@import 'website/controls.scss';
@import 'website/menus.scss';
@import 'website/code.scss';
@import 'website/nav.scss';

.formula {
  // --brand-hue: 30;
  // --error-hue: 120;
}

table.sass-vars {
  thead {
    tr th {
      text-align: left;
      padding: 0.25rem 0.5rem;
      background-color: hsl($dev-hue, 30%, 90%);
    }
  }
  tbody {
    tr td {
      text-align: left;
      padding: 0.25rem 0.5rem;
      background-color: rgba(#fff, 0.8);
      vertical-align: top;
      &.name,
      &.default {
        white-space: nowrap;
        color: hsl($dev-hue, 80%, 20%);
        font-weight: bold;
        font-family: $monospace;
        font-size: 0.8rem;
      }
    }
    th.section {
      // background-color: hsl($dev-hue, 80%, 90%);
      background-color: hsl($dev-hue, 50%, 40%);
      color: hsl($dev-hue, 80%, 90%);
      font-size: 0.8em;
      font-weight: normal;
    }
  }
}

.note {
  background-color: hsl($note-hue, 80%, 90%);
  border: 3px solid hsl($note-hue, 90%, 45%);
  color: hsl($note-hue, 80%, 20%);
  border-radius: 12px;
  padding: 1em;
  box-shadow: $shadows;
}
.warning {
  text-align: center;
  background-color: hsl($red-hue, 80%, 90%);
  border: 3px solid hsl($red-hue, 90%, 45%);
  color: hsl($red-hue, 80%, 20%);
  border-radius: 12px;
  padding: 1rem 2rem;
  box-shadow: $shadows;
  h3 {
    margin: 0;
    color: hsl($red-hue, 90%, 40%);
  }
}

.caption {
  padding: 1rem 0;
  font-size: 0.8rem;
  text-align: center;
}

input + button {
  margin-left: 0.5rem;
}
textarea {
  font-family: inherit;
}
div.example {
  margin-bottom: 2rem;
}

form.formula div.field label.option {
  &.red {
    background-color: red;
    color: white;
  }
  &.red input[type=radio] {
    accent-color: red;
  }
  &.orange {
    background-color: orange;
    color: black;
  }
  &.orange input[type=radio] {
    accent-color: orange;
  }
  &.yellow {
    background-color: gold;
    color: black;
  }
  &.yellow input[type=radio] {
    accent-color: gold;
  }
  &.green {
    background-color: green;
    color: white;
  }
  &.green input[type=radio] {
    accent-color: green;
  }
  &.blue {
    background-color: blue;
    color: white;
  }
  &.blue input[type=radio] {
    accent-color: blue;
  }
  &.indigo {
    background-color: indigo;
    color: white;
  }
  &.indigo input[type=radio] {
    accent-color: indigo;
  }
  &.violet {
    background-color: violet;
    color: white;
  }
  &.violet input[type=radio] {
    accent-color: violet;
  }
}

form.debug {
  border: 1px solid grey;
  padding: 1rem;
}
form.debug.validating {
  border: 1px solid blue;
}
form.debug.valid {
  border: 1px solid green;
}
form.debug.invalid {
  border: 1px solid red;
}

form.formula {
  button.btn-red {
    background-color: hsl($red-hue, 60%, 50%);
    border-color: hsl($red-hue, 50%, 45%);
    color: #fff;
    &:focus {
      outline: none;
      box-shadow:
        0 0 0 $button-ring-gap hsl($red-hue, 20%, 90%),
        0 0 0 $button-ring-width hsl($red-hue, 50%, 70%);
    }
  }
  button.btn-green {
    background-color: hsl($green-hue, 50%, 40%);
    border-color: hsl($green-hue, 55%, 35%);
    color: #fff;
    &:focus {
      outline: none;
      box-shadow:
        0 0 0 $button-ring-gap hsl($green-hue, 20%, 90%),
        0 0 0 $button-ring-width hsl($green-hue, 50%, 70%);
    }
  }
  button.btn-blue {
    background-color: hsl($blue-hue, 60%, 50%);
    border-color: hsl($blue-hue, 65%, 45%);
    color: #fff;
    &:focus {
      outline: none;
      box-shadow:
        0 0 0 $button-ring-gap hsl($blue-hue, 20%, 90%),
        0 0 0 $button-ring-width hsl($blue-hue, 50%, 70%);
    }
  }
  button.btn-brown {
    background-color: hsl($brown-hue, 60%, 30%);
    border-color: hsl($brown-hue, 65%, 25%);
    color: #fff;
    &:focus {
      outline: none;
      box-shadow:
        0 0 0 $button-ring-gap hsl($brown-hue, 20%, 90%),
        0 0 0 $button-ring-width hsl($brown-hue, 50%, 70%);
    }
  }
  button.btn-lilac {
    background-color: hsl($lilac-hue, 60%, 80%);
    border-color: hsl($lilac-hue, 65%, 75%);
    color: hsl($lilac-hue, 50%, 50%);
    &:focus {
      outline: none;
      box-shadow:
        0 0 0 $button-ring-gap hsl($lilac-hue, 10%, 90%),
        0 0 0 $button-ring-width hsl($lilac-hue, 20%, 80%);
    }
  }
}


form.formula {
  &.panel {
    background-color: rgba(255,255,255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem 1rem 0 1rem;
  }
  &.center {
    margin: 0 auto;
  }
  &.ch48 {
    width: 48ch;
  }
}

.boxed {
  border: 1px solid hsl($dev-hue, 30%, 80%);
  background-color: hsl($dev-hue, 10%, 90%);
  padding: 1rem;
}


.formula {
  h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    font-weight: normal;
  }
  .forgot {
    display: block;
    margin-top: -0.5rem;
  }
}

@media (min-width: 1024px) {
  .lg-grid-2 {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .lg-grid-3 {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .lg-label-on-left {
    display: grid !important;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
  }
  div.field .lg-label-on-left label {
    font-size: 1em;
    line-height: 1;
    padding: 0.5em;
    text-align: right;
  }
}

.branded-red .formula {
  --brand-hue: 0;
}
.branded-orange .formula {
  --brand-hue: 30;
}
.branded-yellow .formula {
  --brand-hue: 60;
}
.branded-green .formula {
  --brand-hue: 120;
}
.branded-teal .formula {
  --brand-hue: 160;
}
.branded-blue .formula {
  --brand-hue: 200;
}
.branded-indigo .formula {
  --brand-hue: 240;
}
.branded-violet .formula {
  --brand-hue: 280;
}
.branded-maroon .formula {
  --brand-hue: 320;
}
.wide-border .formula {
  --input-border-width: 2px;
  --focus-ring-width: 4px;
  --focus-ring-gap: 1px;
  --focus-ring-opacity: 0.4;
}