@import 'config/formula';
@import 'utils/all';
@import 'components/all';



.flex {
  display: flex;
}
.wide {
  width: 100%;
}
.flex.space {
  justify-content: space-between;
}
.flex.evenly {
  justify-content: space-evenly;
}
.mar-r {
  margin-right: 0.5rem;
}

button + button {
  margin-left: 0.5rem;
}