@import "config/formula";
@import "utils/all";
@import "components/all";



.flex {
  display: flex;
}
.wide {
  width: 100%;
}
.flex.space {
  justify-content: space-between;
}
.flex.evenly {
  justify-content: space-evenly;
}
.mar-r {
  margin-right: 0.5rem;
}
.red {
  background-color: red;
  color: white;
}
.red input[type=radio] {
  accent-color: red;
}
.orange {
  background-color: orange;
}
.orange input[type=radio] {
  accent-color: orange;
}
.yellow {
  background-color: gold;
}
.yellow input[type=radio] {
  accent-color: gold;
}
.green {
  background-color: green;
  color: white;
}
.green input[type=radio] {
  accent-color: green;
}
.blue {
  background-color: blue;
  color: white;
}
.blue input[type=radio] {
  accent-color: blue;
}
.indigo {
  background-color: indigo;
  color: white;
}
.indigo input[type=radio] {
  accent-color: indigo;
}
.violet {
  background-color: violet;
}
.violet input[type=radio] {
  accent-color: violet;
}
