#app {
  position: relative;
  width: 100%;
  height: calc(100vh - #{$header-height});
  padding: 0;
  display: flex;
  & > aside,
  & > main {
    transition: all 0.2s;
    overflow-y: scroll;
    transition: background-color $theme-transition ease-in-out;
  }
  & > aside {
    flex-basis: var(--sidebar-width);
    margin-left: var(--sidebar-margin-left);
    padding: var(--sidebar-padding);
    border-right: 1px solid var(--side-border);
    background-color: var(--side-back);
    box-shadow:
      inset 0 6px 4px -4px var(--top-shadow),
      inset -2px 0 2px var(--side-shadow);
    transition:
      margin-left 300ms ease-in-out,
      background-color $theme-transition ease-in-out;
  }
  & > main {
    margin-left: 0;
    flex-basis: 100%;
    padding: 1.5rem 3rem 3rem 3rem;
    box-shadow:  2px 4px 6px var(--top-shadow);
    background-color: var(--main-back);
    &.wide {
      margin-left: 0;
      flex-basis: 100%;
    }
  }
  .section {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 0 0.5em;
    text-align: left;
  }
}

