:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
#page {
  position: relative;
  background-color: var(--page-bg);
  color: var(--page-fg);
  transition: color, background-color 500ms;
  color-scheme: light;
  &.dark {
    color-scheme: dark;
  }
}
#layout {
  min-width: $container-min;
  max-width: $container-max;
  margin: 0 auto;
  padding: $layout-gap;
  min-height: $layout-height;
  display: flex;
  flex-wrap: wrap;
  gap: $layout-gap;
}

#layout aside {
  position: relative;
  flex-basis: 20rem;
  flex-grow: 1;
  margin: 0;
  padding: 0.5rem;
  // padding: 0rem;
  background-color: var(--side-bg);
  max-height: $main-height;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  transition: color, background-color 500ms;
  h3 {
    margin-top: 0;
    font-size: 1.1rem;
    line-height: 1;
    margin-bottom: 2rem;
    color: var(--control-fg);
  }
  h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  footer {
    margin-top: auto;
    padding: 0.5rem 1rem;
    a {
      font-size: 0;
      width: 6rem;
      color: var(--abw-fg);
      &:hover {
        color: var(--abw-hv-fg);
      }
    }
    svg {
      height: 2rem;
    }
    .notes {
      font-size: 0.8rem;
      color: hsl($dev-hue, 40%, 40%);
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
  }
}

#layout main {
  position: relative;
  flex-basis: 0;
  flex-grow: 999;
  padding: 2rem;
  background-color: var(--main-bg);
  max-height: $main-height;
  overflow-y: scroll;
  transition: color, background-color 500ms;
  h1:first-child {
    line-height: 1;
    margin: 0 0 0.5em 0;
  }
}

.pic-side {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 2rem;
  align-items: start;
  div.logo {
      color: var(--logo-color);
    svg {
      margin-top: 0rem;
      width: 100%;
    }
  }
  & > div.blurb {
    padding-right: 2rem;
  }
}

.badger {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  img {
    width: 100px;
  }
  .caption {
    padding: 0.5rem 0;
  }
}

