ul.menu {
  &.closed {
    transition: all 500ms;
    max-height: 0;
    overflow: hidden;
  }
  &.open {
    transition: all 1000ms;
    max-height: 200rem;
    overflow: hidden;
  }
  .about {
    color: var(--toc-about);
    &:before {
      content: '-';
      margin: 0 0.5rem;
    }
  }
}

ul.menu ul.menu {
  font-size: 0.9em;
}

ul.menu.large {
  font-size: 1.25rem;
}

li {
  margin-bottom: 1rem;
}

#layout aside {
  div.menu {
    // margin: 0 -1rem 0.25rem;
    margin: 0 0rem 0.25rem;
    margin: 0 0rem 0rem;
    font-size: 0.9rem;
  }

  ul.menu {
    padding: 0;
    margin: 0 0 0 0.5rem;
    list-style: none;
    li {
      margin: 0;
      padding: 0;
      h4 {
        font-size: 0.8rem;
        padding: 0.25em 0.5em 0.25em 0.25em;
        margin-bottom: 0.25em;
        color: var(--menu-secn-fg);
        font-weight: normal;
      }
      a {
        display: block;
        background-color: var(--menu-bg);
        color: var(--menu-fg);
        padding: 0.25em 0.5em;
        margin-bottom: 0.25em;
        // border-right: 5px solid var(--menu-bd);
        border-left: 5px solid var(--menu-bd);
        &.active {
          background-color: var(--menu-ac-bg);
          border-color: var(--menu-ac-bd);
          color: var(--menu-ac-fg);
        }
        &:hover {
          background-color: var(--menu-hv-bg);
          border-color: var(--menu-hv-bd);
        }
        &.active:hover {
          background-color: var(--menu-ac-bg);
        }
      }
    }
  }
  .menu-head {
    background-color: var(--menu-head-bg);
    &:hover {
      background-color: var(--menu-head-hv-bg);
    }
    margin: 0 0 0.25rem 0;
    padding: 0.25em 0.5em;
    a {
      color: var(--menu-head-fg);
      flex-basis: 100%;
      h4 {
        line-height: 1.5;
        margin: 0;
      }
      svg.icon {
        margin: 0 0.25em 0 -0.25em;
      }
      &.active {
        color: var(--menu-head-ac-fg);
      }
      &:hover {
        background-color: var(--menu-head-hv-bg);
        color: var(--menu-head-hv-fg);
      }
    }
    .icon {
      transition: all 300ms;
    }
  }
}

div.see-also,
div.toc {
  background-color: var(--toc-bg);
  border: 1px solid var(--toc-bd);
  padding: 1rem 2rem;
  border-radius: $radius;
  box-shadow: $shadows;
  h2 {
    margin: 0.5rem 0 1rem 0;
    font-size: 1.2rem;
    color: var(--toc-hd);
  }
  ul {
    padding: 0 0 0 1rem;
  }
}

div.see-also {
  font-size: 0.875rem;
}

div.toc ul.menu {
  li {
    &.heading {
      list-style: none;
      margin-left: -0.8rem;
      margin-bottom: 0.5rem;
      color: var(--toc-hd2);
      h4 {
        font-weight: normal;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
    a {
      background-color: var(--code-link-bg);
      color: var(--code-link-fg);
      border: 1px solid var(--code-link-bd);
      border-bottom: 1px solid var(--code-link-ul);
      padding: 0.1rem 0.25rem;
      border-radius: $code-radius;
      &:hover {
        // background-color: hsl($hover-hue, 40%, 90%);
        // border-color: hsl($hover-hue, 50%, 80%);
        // border-bottom-color: hsl($hover-hue, 40%, 70%);
        // color: hsl($hover-hue, 90%, 15%);
        color: var(--code-hv-fg);
        background-color: var(--code-hv-bg);
        border-color: var(--code-hv-bd);
        border-bottom-color: var(--code-hv-ul);
      }
    }
  }
}


