.codeblock .prismjs {
  --shell: var(--brown-40);
  --comment: var(--grey-60);
  --punctuation: var(--grey20-70);
  --tag: var(--blue-50);
  --attr-name: var(--violet-40);
  --attr-value: var(--purple-50);
  --string: var(--purple-60);
  --function: var(--purple-20);
  --variable: var(--maroon-40);
  --keyword: var(--violet-20);
  --property: var(--indigo-40);
  --selector: var(--teal-40);
  color: var(--brand-50);

  font-family: var(--font-mono);
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  padding: 0.5rem 0.5rem;

  .language-shell {
    color: var(--shell);
  }

  .comment {
    color: var(--comment);
  }
  .tag {
    color: var(--tag);
  }
  .attr-name {
    color: var(--attr-name);
  }
  .attr-value {
    color: var(--attr-value);
  }
  .punctuation {
    color: var(--punctuation);
  }
  .function {
    color: var(--function);
  }
  .variable {
    color: var(--variable);
  }
  .keyword {
    color: var(--keyword);
  }
  .string {
    color: var(--string);
  }
  .property {
    color: var(--property);
  }
  .selector {
    color: var(--selector);
  }
}

#{$dark-theme} {
  .codeblock .prismjs {
    --background: var(--grey-15);
    --border: var(--grey-25);
    --color: var(--grey-50);
    --shell: var(--brown-60);
    --comment: var(--grey-50);
    --punctuation: var(--grey20-40);
    --tag: var(--blue-50);
    --attr-name: var(--violet-60);
    --attr-value: var(--purple-70);
    --string: var(--purple-65);
    --function: var(--purple-80);
    --variable: var(--maroon-70);
    --keyword: var(--violet-70);
    --property: var(--indigo-60);
    --selector: var(--teal-60);
  }
}
/*
export default {
  "code[class*=\"language-\"]": {
    "color": "#f8f8f2",
    "background": "none",
    "fontFamily": "Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace",
    "textAlign": "left",
    "whiteSpace": "pre",
    "wordSpacing": "normal",
    "wordBreak": "normal",
    "wordWrap": "normal",
    "lineHeight": "1.5",
    "MozTabSize": "4",
    "OTabSize": "4",
    "tabSize": "4",
    "WebkitHyphens": "none",
    "MozHyphens": "none",
    "msHyphens": "none",
    "hyphens": "none"
  },
  "pre[class*=\"language-\"]": {
    "color": "#f8f8f2",
    "background": "#2b2b2b",
    "fontFamily": "Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace",
    "textAlign": "left",
    "whiteSpace": "pre",
    "wordSpacing": "normal",
    "wordBreak": "normal",
    "wordWrap": "normal",
    "lineHeight": "1.5",
    "MozTabSize": "4",
    "OTabSize": "4",
    "tabSize": "4",
    "WebkitHyphens": "none",
    "MozHyphens": "none",
    "msHyphens": "none",
    "hyphens": "none",
    "padding": "1em",
    "margin": "0.5em 0",
    "overflow": "auto",
    "borderRadius": "0.3em"
  },
  ":not(pre) > code[class*=\"language-\"]": {
    "background": "#2b2b2b",
    "padding": "0.1em",
    "borderRadius": "0.3em",
    "whiteSpace": "normal"
  },
  "comment": {
    "color": "#d4d0ab"
  },
  "prolog": {
    "color": "#d4d0ab"
  },
  "doctype": {
    "color": "#d4d0ab"
  },
  "cdata": {
    "color": "#d4d0ab"
  },
  "punctuation": {
    "color": "#fefefe"
  },
  "property": {
    "color": "#ffa07a"
  },
  "tag": {
    "color": "#ffa07a"
  },
  "constant": {
    "color": "#ffa07a"
  },
  "symbol": {
    "color": "#ffa07a"
  },
  "deleted": {
    "color": "#ffa07a"
  },
  "boolean": {
    "color": "#00e0e0"
  },
  "number": {
    "color": "#00e0e0"
  },
  "selector": {
    "color": "#abe338"
  },
  "attr-name": {
    "color": "#abe338"
  },
  "string": {
    "color": "#abe338"
  },
  "char": {
    "color": "#abe338"
  },
  "builtin": {
    "color": "#abe338"
  },
  "inserted": {
    "color": "#abe338"
  },
  "operator": {
    "color": "#00e0e0"
  },
  "entity": {
    "color": "#00e0e0",
    "cursor": "help"
  },
  "url": {
    "color": "#00e0e0"
  },
  ".language-css .token.string": {
    "color": "#00e0e0"
  },
  ".style .token.string": {
    "color": "#00e0e0"
  },
  "variable": {
    "color": "#00e0e0"
  },
  "atrule": {
    "color": "#ffd700"
  },
  "attr-value": {
    "color": "#ffd700"
  },
  "function": {
    "color": "#ffd700"
  },
  "keyword": {
    "color": "#00e0e0"
  },
  "regex": {
    "color": "#ffd700"
  },
  "important": {
    "color": "#ffd700",
    "fontWeight": "bold"
  },
  "bold": {
    "fontWeight": "bold"
  },
  "italic": {
    "fontStyle": "italic"
  }
};
*/