:where(html) {
  --brand-hue:            #{$brand-hue};
  --hover-hue:            #{$hover-hue};
  --note-hue:             #{$note-hue};
  --defn-hue:             #{$defn-hue};
  --header-back:          hsl(var(--brand-hue), 30%, 30%);
  --header-text:          hsl(var(--brand-hue), 30%, 70%);
  --header-hover:         hsl(var(--brand-hue), 70%, 80%);
  --palette-back:         hsl(var(--brand-hue), 85%, 15%);
  --page-bg:              hsl(var(--brand-hue), 30%, 85%);
  --page-fg:              hsl(var(--brand-hue), 10%, 15%);
  --page-head:            hsl(var(--brand-hue), 80%, 20%);
  --logo-color:           hsl(var(--brand-hue), 90%, 25%);
  --abw-fg:               hsl(var(--brand-hue), 40%, 40%);
  --abw-hv-fg:            hsl(var(--hover-hue), 40%, 55%);
  --side-bg:              hsl(var(--brand-hue), 30%, 90%);
  --main-bg:              hsl(var(--brand-hue), 30%, 95%);
  --menu-bg:              hsl(var(--brand-hue), 35%, 93%);
  --menu-fg:              hsl(var(--brand-hue), 55%, 30%);
  --menu-bd:              hsl(var(--brand-hue), 35%, 95%);
  --menu-hv-bg:           hsl(var(--brand-hue), 35%, 95%);
  --menu-hv-bd:           hsl(var(--hover-hue), 40%, 70%);
  --menu-ac-bg:           hsl(var(--brand-hue), 30%, 97%);
  --menu-ac-fg:           hsl(var(--brand-hue), 90%, 20%);
  --menu-ac-bd:           hsl(var(--brand-hue), 40%, 70%);
  --menu-secn-fg:         hsl(var(--brand-hue), 30%, 40%);
  --menu-head-bg:         hsl(var(--brand-hue), 20%, 94%);
  --menu-head-fg:         hsl(var(--brand-hue), 50%, 40%);
  --menu-head-ac-fg:      hsl(var(--brand-hue), 100%, 20%);
  --menu-head-hv-bg:      hsl(var(--brand-hue), 25%, 95%);
  --menu-head-hv-fg:      hsl(var(--hover-hue), 40%, 55%);
  --link-fg:              hsl(var(--brand-hue), 70%, 45%);
  --link-hv-fg:           hsl(var(--hover-hue), 60%, 55%);
  --control-fg:           hsl(var(--brand-hue), 60%, 30%);
  --control-hv-fg:        hsl(var(--hover-hue), 40%, 55%);
  --code-fg:              hsl(var(--brand-hue), 90%, 25%);
  --code-bg:              hsl(var(--brand-hue), 25%, 92%);
  --code-bd:              hsl(var(--brand-hue), 40%, 80%);
  --code-defn-fg:         hsl(var(--defn-hue),  90%, 25%);
  --code-defn-bg:         hsl(var(--defn-hue),  25%, 92%);
  --code-defn-bd:         hsl(var(--defn-hue),  40%, 80%);
  --code-link-bg:         hsl(var(--brand-hue), 40%, 90%);
  --code-link-fg:         hsl(var(--brand-hue), 90%, 15%);
  --code-link-bd:         hsl(var(--brand-hue), 50%, 70%);
  --code-link-ul:         hsl(var(--brand-hue), 80%, 50%);
  --code-hv-bg:           hsl(var(--hover-hue), 40%, 90%);
  --code-hv-fg:           hsl(var(--hover-hue), 90%, 15%);
  --code-hv-bd:           hsl(var(--hover-hue), 50%, 80%);
  --code-hv-ul:           hsl(var(--hover-hue), 80%, 50%);
  --codeblock-bg:         #{$codeblock-bg-light};
  --codeblock-bg-from:    #{$codeblock-bg-light-from};
  --codeblock-bg-to:      #{$codeblock-bg-light-to};
  --output-bg:            hsl(var(--brand-hue), 15%, 98%);
  --output-bd:            hsl(var(--brand-hue), 20%, 80%);
  --output-fg:            hsl(var(--brand-hue), 40%, 30%);
  --prev-next-bg:         hsl(var(--brand-hue), 30%, 98%);
  --prev-next-bd:         hsl(var(--brand-hue), 50%, 80%);
  --prev-next-fg:         hsl(var(--brand-hue), 80%, 40%);
  --prev-next-hv-bg:      hsl(var(--hover-hue), 40%, 95%);
  --prev-next-hv-bd:      hsl(var(--hover-hue), 50%, 80%);
  --prev-next-hv-fg:      hsl(var(--hover-hue), 70%, 40%);
  --toc-bg:               hsl(var(--brand-hue), 50%, 97%);
  --toc-bd:               hsl(var(--brand-hue), 30%, 80%);
  --toc-hd:               hsl(var(--brand-hue), 30%, 10%);
  --toc-hd2:              hsl(var(--brand-hue), 40%, 30%);
  --toc-about:            hsl(var(--brand-hue), 30%, 40%);
  --note-back:            hsl(var(--note-hue), 60%, 93%);
  --note-text:            hsl(var(--note-hue), 80%, 40%);
  --note-border:          hsl(var(--note-hue), 50%, 55%);
}

#page.dark {
  --page-bg:              hsl(var(--brand-hue), 40%, 7%);
  --page-fg:              hsl(var(--brand-hue), 10%, 60%);
  --page-head:            hsl(var(--brand-hue), 20%, 70%);
  --logo-color:           hsl(var(--brand-hue), 40%, 40%);
  --side-bg:              hsl(var(--brand-hue), 20%, 12%);
  --main-bg:              hsl(var(--brand-hue), 25%, 15%);
  --menu-bg:              hsl(var(--brand-hue), 25%, 15%);
  --menu-fg:              hsl(var(--brand-hue), 15%, 60%);
  --menu-bd:              hsl(var(--brand-hue), 35%, 25%);
  --menu-hv-bg:           hsl(var(--brand-hue), 30%, 20%);
  --menu-hv-bd:           hsl(var(--hover-hue), 40%, 50%);
  --menu-ac-bg:           hsl(var(--brand-hue), 30%, 20%);
  --menu-ac-fg:           hsl(var(--brand-hue), 30%, 70%);
  --menu-secn-fg:         hsl(var(--brand-hue), 50%, 40%);
  --menu-head-bg:         hsl(var(--brand-hue), 30%, 19%);
  --menu-head-fg:         hsl(var(--brand-hue), 15%, 60%);
  --menu-head-ac-fg:      hsl(var(--brand-hue), 60%, 80%);
  --menu-head-hv-bg:      hsl(var(--brand-hue), 35%, 23%);
  --menu-head-hv-fg:      hsl(var(--brand-hue), 40%, 75%);
  --link-fg:              hsl(var(--brand-hue), 70%, 45%);
  --link-hv-fg:           hsl(var(--hover-hue), 70%, 70%);
  --control-fg:           hsl(var(--brand-hue), 60%, 50%);
  --control-hv-fg:        hsl(var(--hover-hue), 60%, 70%);
  --code-bg:              hsl(var(--brand-hue), 25%, 18%);
  --code-fg:              hsl(var(--brand-hue), 40%, 75%);
  --code-bd:              hsl(var(--brand-hue), 40%, 20%);
  --code-defn-bg:         hsl(var(--defn-hue),  25%, 18%);
  --code-defn-fg:         hsl(var(--defn-hue),  40%, 75%);
  --code-defn-bd:         hsl(var(--defn-hue),  40%, 20%);
  --code-link-bg:         hsl(var(--brand-hue), 35%, 20%);
  --code-link-fg:         hsl(var(--brand-hue), 45%, 75%);
  --code-link-bd:         hsl(var(--brand-hue), 50%, 25%);
  --code-link-ul:         hsl(var(--brand-hue), 60%, 40%);
  --code-hv-bg:           hsl(var(--hover-hue), 25%, 35%);
  --code-hv-fg:           hsl(var(--hover-hue), 50%, 90%);
  --code-hv-bd:           hsl(var(--hover-hue), 50%, 60%);
  --code-hv-ul:           hsl(var(--hover-hue), 60%, 75%);
  --codeblock-bg:         #{$codeblock-bg-dark};
  --codeblock-bg-from:    #{$codeblock-bg-dark-from};
  --codeblock-bg-to:      #{$codeblock-bg-dark-to};
  --output-bg:            hsl(var(--brand-hue), 15%, 20%);
  --output-bd:            hsl(var(--brand-hue), 20%, 10%);
  --output-fg:            hsl(var(--brand-hue), 10%, 60%);
  --prev-next-bg:         hsl(var(--brand-hue), 30%, 25%);
  --prev-next-bd:         hsl(var(--brand-hue), 40%, 30%);
  --prev-next-fg:         hsl(var(--brand-hue), 40%, 70%);
  --prev-next-hv-bg:      hsl(var(--hover-hue), 30%, 30%);
  --prev-next-hv-bd:      hsl(var(--hover-hue), 45%, 50%);
  --prev-next-hv-fg:      hsl(var(--hover-hue), 40%, 75%);
  --toc-bg:               hsl(var(--brand-hue), 20%, 20%);
  --toc-bd:               hsl(var(--brand-hue), 30%, 25%);
  --toc-hd:               hsl(var(--brand-hue), 20%, 70%);
  --toc-hd2:              hsl(var(--brand-hue), 20%, 60%);
  --toc-about:            hsl(var(--brand-hue), 15%, 70%);
  --note-back:            hsl(var(--note-hue), 40%, 15%);
  --note-text:            hsl(var(--note-hue), 40%, 65%);
  --note-border:          hsl(var(--note-hue), 50%, 35%);
}