/*
h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  &:first-child {
    margin-top: -0.5rem !important;
  }
}
h2 {
  font-size: 1.75rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
  &.hint {
    font-size: 1rem;
    margin: 0;
    & + p {
      margin-top: 0.5rem;
    }
  }
}
h3 {
  font-size: 1.25rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
a, .link {
  font-weight: 500;
  color: var(--link-fg);
  text-decoration: inherit;
  transition: 500ms all;
  cursor: pointer;
  user-select: none;
  &:hover {
    transition: 200ms all;
    color: var(--link-hv-fg);
  }
  &.active {
    color: $active-color;
  }
}
.bold {
  font-weight: bold;
}
*/
/*-- components/typography --*/
html {
  font-family: var(--font-sans);
}
body {
  color: var(--body-text);
}
h1, h2, h3, h4, h5, h6 {
  font-weight: var(--weight-normal);
  color: var(--head-text);
}
h1 {
  font-size: $size-largest;
  margin-block-end: 0.5rem;
}
h2 {
  font-size: $size-larger;
  margin-block-start: 2rem;
  margin-block-end: 0.5rem;
}
p {
  margin-block-end: 1.5rem;
  line-height: 1.6;
}
.intro {
  font-size: $size-larger;
}
.subintro {
  font-size: $size-large;
}

a, .link {
  color: var(--link-text);
  text-decoration: none;
  cursor: pointer;
  &:hover:not(.button) {
    color: var(--link-hover);
  }
}
b {
  color: var(--bold-text);
}
blockquote {
  --color: var(--grey-50);
  --border-color: var(--brand-70);
  --background-color: var(--grey-100);
  --quote-color: var(--brand-80);
  --em-color: var(--grey40-50);
  --attrib-color: var(--brand-50);
  color: var(--color);
  background-color: var(--background-color);
  padding: 1rem 2rem 1rem 75px;
  position: relative;
  margin: 1rem 0 2rem 0;
  font-size: $size-large;
  font-style:italic;
  border-left: 10px solid var(--border-color);
  box-shadow: var(--shadow-3);
  border-radius: #{$unit-radius};
  em {
    color: var(--em-color);
  }
  .attrib {
    font-size: $size-medium;
    text-align: right;
    color: var(--attrib-color);
    margin-top: 1rem;
    &:before {
      content: '-- ';
    }
  }
  &:before {
    content: '‟';
    width: 75px;
    line-height: 110px;
    text-align: center;
    font-size: 6rem;
    color: var(--quote-color);
    position: absolute;
    left: 0px;
    top:0;
  }
}
#{$dark-theme} {
  blockquote {
    --color: var(--grey-70);
    --em-color: var(--brand-70);
    --border-color: var(--brand-60);
    --background-color: var(--grey-30);
    --quote-color: var(--brand-60);
    --attrib-color: var(--brand-70);
  }
}
/*
  --color: var(--grey-50);
  --em-color: var(--grey40-50);
  --border-color: var(--brand-70);
  --background-color: var(--grey-100);
  --quote-color: var(--brand-80);
  --attrib-color: var(--brand-50);
*/