table.vars {
  width: 100%;
  thead {
    tr th {
      text-align: left;
      padding: 0.25rem 0.5rem;
      color: var(--table-head-text);
      background-color: var(--table-head-back);
    }
  }
  tbody {
    tr td {
      text-align: left;
      padding: 0.25rem 0.5rem;
      background-color: var(--table-body-back);
      vertical-align: top;
      &.name,
      &.default {
        white-space: nowrap;
        color: var(--table-body-var);
        font-weight: bold;
        font-family: $monospace;
        font-size: 0.8rem;
      }
    }
    th.section {
      // background-color: hsl($dev-hue, 80%, 90%);
      background-color: hsl($dev-hue, 50%, 40%);
      color: hsl($dev-hue, 80%, 90%);
      font-size: 0.8em;
      font-weight: normal;
    }
  }
}

