$brand-hue:                 150 !default;
$input-hue:                 240 !default;
$required-hue:              0   !default;
$optional-hue:              120 !default;
$invalid-hue:               0   !default;
$valid-hue:                 30  !default;
$debug-hue:                 230 !default;

$required-label-color:      hsl(0, 90%, 30%) !default;
$optional-label-color:      hsl(120, 10%, 30%) !default;
$invalid-border-color:      hsl($invalid-hue 90% 40%) !default;