/* Field Sizes */
// Width of border
$field-border-width:           1px !default;
// Width of focus ring
$field-ring-width:             3px !default;
// Width of gap between border and ring
$field-ring-gap:               1px !default;
// Border radius of field
$field-border-radius:          4px !default;