/* Input Variables */
// Width of border
$input-border-width:           2px !default;
// Border radius of field
$input-border-radius:          4px !default;
// Width of focus ring
$input-ring-width:             3px !default;
// Gap between border and focus ring
$input-ring-gap:               1px !default;