// DEPRECATED

/* Spacing Options */
// Margin between fields
$field-margin:                 1rem !default;
// Margin between label and field
$label-margin:                 0.25rem !default;
// Margin between field and help/validation message
$message-margin:               0.25rem !default;
// Margin between options, e.g. in radio sets
$option-margin:                1rem !default;
