//= Namespace Variables
// Main CSS scope for all react-formula CSS rules
$formula:  '.formula'   !default;
// Checkboxes and radio buttons without a border
$bare:     '.bare'      !default;
// Checkbox inputs
$checkbox: '.checkbox'  !default;
// Checked checkboxes and radio button options
$checked:  '.checked'   !default;
// Form controls: reset, submit, etc
$controls: '.controls'  !default;
// Dark theme
$dark:     '.dark'      !default;
// Debug component
$debug:    '.debug'     !default;
// Disabled fields
$disabled: '.disabled'  !default;
// Errors component
$errors:   '.errors'    !default;
// Fields
$field:    '.field'     !default;
// Fluid fields
$fluid:    '.fluid'     !default;
// Focussed fields
$focus:    '.focus'     !default;
// Help messages, include valid/invalid messages
$help:     '.help'      !default;
// Inline field
$inline:   '.inline'    !default;
// Field input
$input:    '.input'     !default;
// Invalid field
$invalid:  '.invalid'   !default;
// Radio button option
$option:   '.option'    !default;
// Optional label
$optional: '.optional'  !default;
// Panels inside debug component
$panel:    '.panel'     !default;
// Input prefix
$prefix:   '.prefix'    !default;
// Fields that have a prefix
$prefixed: '.prefixed'  !default;
// Radio button fields
$radio:    '.radio'     !default;
// Required label
$required: '.required'  !default;
// Input suffix
$suffix:   '.suffix'    !default;
// Fields that have a suffix
$suffixed: '.suffixed'  !default;
// Valid fields
$valid:    '.valid'     !default;
// Wide fields, checkboxes and radio buttons
$wide:     '.wide'      !default;
