$formula:  '.formula'   !default;
$field:    '.field'     !default;
$inputs:   '.inputs'    !default;
$input:    '.input'     !default;
$text:     '.text'      !default;
$prefix:   '.prefix'    !default;
$suffix:   '.suffix'    !default;
$prefixed: '.prefixed'  !default;
$suffixed: '.suffixed'  !default;
$help:     '.help'      !default;
$valid:    '.valid'     !default;
$invalid:  '.invalid'   !default;
$focus:    '.focus'     !default;
$option:   '.option'    !default;
$required: '.required'  !default;
$optional: '.optional'  !default;
$checkbox: '.checkbox'  !default;
$checked:  '.checked'   !default;
$radio:    '.radio'     !default;
$block:    '.block'     !default;
$disabled: '.disabled'  !default;
$errors:   '.errors'    !default;
$controls: '.controls'  !default;
$dark:     '.dark'      !default;
