$spacing:                 0.25em !default;
$margin:                  $spacing !default;
$padding:                 $spacing !default;
$margin-2:                $margin * 2;
$margin-3:                $margin * 3;
$margin-4:                $margin * 4;
$padding-2:               $padding * 2;
$padding-3:               $padding * 3;
$padding-4:               $padding * 4;
$padding-y:               $padding-2 !default;
$padding-x:               $padding-4 !default;
$border-width:            1px !default;
$border-radius:           3px !default;
$focus-ring-width:        3px !default;
$focus-ring-gap:          2px !default;
$smaller-size:            0.75em;
$small-size:              0.875em;
$large-size:              1.125em;
$larger-size:             1.25em;
