ul.menu {
  &.closed {
    transition: all 500ms;
    max-height: 0;
    overflow: hidden;
  }
  &.open {
    transition: all 1000ms;
    max-height: 200rem;
    overflow: hidden;
  }
}

ul.menu ul.menu {
  font-size: 0.9em;
}

ul.menu.large {
  font-size: 1.25rem;
}

li {
  margin-bottom: 1rem;
}


div.see-also,
div.toc {
  background-color: var(--toc-bg);
  border: 1px solid var(--toc-bd);
  padding: 1rem 2rem;
  border-radius: $radius;
  box-shadow: $shadows;
  h2 {
    margin: 0.5rem 0 1rem 0;
    font-size: 1.2rem;
    color: var(--toc-hd);
  }
  ul {
    padding: 0 0 0 1rem;
  }
}

div.see-also {
  font-size: 0.875rem;
}

div.toc ul.menu {
  li {
    &.heading {
      list-style: none;
      margin-left: -0.8rem;
      margin-bottom: 0.5rem;
      color: var(--toc-hd2);
      h4 {
        font-weight: normal;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
    a {
      background-color: var(--code-link-bg);
      color: var(--code-link-fg);
      border: 1px solid var(--code-link-bd);
      border-bottom: 1px solid var(--code-link-ul);
      padding: 0.1rem 0.25rem;
      &:hover {
        // background-color: hsl($hover-hue, 40%, 90%);
        // border-color: hsl($hover-hue, 50%, 80%);
        // border-bottom-color: hsl($hover-hue, 40%, 70%);
        // color: hsl($hover-hue, 90%, 15%);
        color: var(--code-hv-fg);
        background-color: var(--code-hv-bg);
        border-color: var(--code-hv-bd);
        border-bottom-color: var(--code-hv-ul);
      }
    }
    .about {
      color: var(--toc-about);
      &:before {
        content: '-';
        margin: 0 0.5rem;
      }
    }
  }
}


