h1, h2, h3 {
  color: var(--page-head);
}
h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  &:first-child {
    margin-top: -0.5rem !important;
  }
}
h2 {
  font-size: 1.75rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}
h3 {
  font-size: 1.25rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
p.intro {
  font-size: 1.25em;
}
p.subintro {
  font-size: 1.25em;
}
a {
  font-weight: 500;
  color: var(--link-fg);
  text-decoration: inherit;
  transition: 500ms all;
  &:hover {
    transition: 200ms all;
    color: var(--link-hv-fg);
  }
  &.active {
    color: $active-color;
  }
}
.bold {
  font-weight: bold;
}

