#{$formula-selector} .errors {
  color: var(--error-fg);
  background-color: var(--error-bg);
  border: 1px solid var(--error-bd);
  border-width: $error-border-width;
  border-radius: $error-border-radius;
  padding: $error-padding-vertical $error-padding-horizontal;
  margin: $error-margin;
  box-shadow: $error-box-shadow;
  h3 {
    // background-color: rgba($error-title-color, 0.5);
    // background-color: rgba($error-border-color, 0.9);
    font-weight: $error-title-weight;
    font-size: $error-title-size;
    line-height: 1;
    background-color: var(--error-bd);
    margin: -#{$error-padding-vertical} -#{$error-padding-horizontal} $error-padding-vertical -#{$error-padding-horizontal};
    padding: #{$error-title-padding};
    border-radius: $error-title-radius $error-title-radius 0 0;
    color: var(--error-title-fg);
  }
  h4:last-child {
    margin-bottom: 0.5rem;
  }
  p {
    margin-top: 0;
  }
  ul {
    margin-bottom: 0;
    li {
      margin: 0.5em 0;
      b {
        color: var(--error-label-fg);
      }
    }
  }
}